<button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/shuffle">
      <mat-icon >shuffle</mat-icon>
      <span>Shuffle Cards</span>
    </button>
    <button mat-menu-item routerLink="/insert">
        <mat-icon>note_add</mat-icon>
        <span>Insert Cards</span>
    </button>
    <button mat-menu-item routerLink="/manage">
      <mat-icon>list</mat-icon>
      <span>Manage Cards</span>
    </button>
    <button mat-menu-item (click)="signout()">
      <mat-icon>highlight_off</mat-icon>
      <span>Logout</span>
    </button>
</mat-menu>