<div>
    <h1>Sign Up</h1>
    <form (ngSubmit)="createUser()" #loginForm="ngForm">
        <div class="form-group">
            <label for="username">username</label>
            <input type="text" class="form-control" [(ngModel)]="user.username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" [(ngModel)]="user.password" name="password" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">Sign Up</button>
            <button>Cancel</button>
          </div>
    </form>
</div>